.slick-slider {
  overflow: hidden;
}
.slide {
  transition: transform 500ms ease-in-out;
}

@media screen and (max-width: 767px) {
  .slick-slide > div {
    height: 190px;
    width: 100%;
  }
  .slick-list {
    margin: -12px 0;
  }
  .slick-slide {
    padding: 12px 0;
  }
  .slick-vertical .slick-slide {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .slick-list {
    margin: 0 -86px;
  }
  .slick-slide {
    padding: 0 86px;
    border: none;
    box-shadow: 0px 0px 100px 0px rgba(9, 20, 16, 0.5);
  }

  .slick-slide > div {
    width: 120px;
    height: 88px;
    opacity: 0.75;
  }

  .slick-slide:not(.slick-center) .slide::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
    z-index: 1;
  }

  .slick-track {
    min-height: 294px !important;
    display: flex;
    align-items: center;
  }

  .slick-slider .slick-center .slide {
    transform: scale(3.46, 3.35);
  }

  .slick-slider .slick-center > div {
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .slick-slide > div {
    width: 313px;
    height: 225px;
  }
  .slick-track {
    min-height: 430px !important;
  }

  .slick-slider .slick-center .slide {
    transform: scale(1.9) !important;
  }
}
