@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./hero-section.css";
@import "./about-section.css";
@import "./services-section.css";
@import "./career-section.css";
@import "./contacts-section.css";

@import "tailwindcss/utilities";

@import "./slick-theme.css";
@import "./slick.css";
@import "./gallery-slider.css";

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    transition: -webkit-text-stroke 0.3s ease-out;
  }
}

@layer base {
  :root {
    --color-modal-bg: 1 10 5;
    --color-input-bg: 255 255 255;
    --color-input-placeholder: 255 255 255;
    --foreground-rgb: 255 255 255;
    --section-bg: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  }
  body {
    color: rgb(var(--foreground-rgb));
    background: var(--section-bg);
  }
}

@layer components {
  .activSlideButton::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: white;
    transform: rotate(45deg);
    top: 50%;
    left: 4px;
    transform-origin: center;
    margin-top: -3px;
  }
  .link {
    transition: background-color 250ms linear;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("/icons/icon-btn-left-sx.svg"),
      url("/icons/icon-btn-right-sx.svg");
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position:
      top left,
      top right;
    @media screen and (min-width: 768px) {
      background-image: url("/icons/icon-btn-left-md.svg"),
        url("/icons/icon-btn-right-md.svg");
    }
    @media screen and (min-width: 1280px) {
      background-image: url("/icons/icon-btn-left-lg.svg"),
        url("/icons/icon-btn-right-lg.svg");
    }
  }
  .link:hover,
  .link:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .alert::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: currentColor;
    background-image: url("/icons/icon-close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-wrapper {
    background-image: var(--section-bg);
  }

  .career-checkbox:after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color ease-in-out 250ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1280px) {
      width: 16px;
      height: 16px;
    }
  }
  .career-checkbox:checked:after {
    background-color: rgba(255, 255, 255, 1);
  }
}
