@layer components {
  .services-slide-1 {
    background-image: url("/images/slide-1-xs@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/slide-1-xs@2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("/images/hero-md.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-md@2x.jpg");
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url("/images/hero-xl.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-xl@2x.jpg");
      }
    }
  }
  .services-slide-2 {
    background-image: url("/images/slide-2-xs@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/slide-2-xs@2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("/images/hero-md.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-md@2x.jpg");
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url("/images/hero-xl.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-xl@2x.jpg");
      }
    }
  }
  .services-slide-3 {
    background-image: url("/images/slide-3-xs@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/slide-3-xs@2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("/images/hero-md.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-md@2x.jpg");
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url("/images/hero-xl.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-xl@2x.jpg");
      }
    }
  }
  .services-slide-4 {
    background-image: url("/images/slide-4-xs@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/slide-4-xs@2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("/images/hero-md.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-md@2x.jpg");
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url("/images/hero-xl.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-xl@2x.jpg");
      }
    }
  }
  .services-slide-5 {
    background-image: url("/images/slide-5-xs@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/slide-5-xs@2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("/images/hero-md.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-md@2x.jpg");
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url("/images/hero-xl.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("/images/hero-xl@2x.jpg");
      }
    }
  }
}
